<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="banner">
  <h1>my banner</h1>
  <button class="btn">Click me</button>
  <a class="link1" href="#">Super HyperLink</a>
</div>

<div>
  <div class="card" style="width: 18rem;">
  <img src="https://kitt.lewagon.com/placeholder/cities/random" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
