// Place all the styles related to the pages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

$grey: #F4F4F4;
$spacer: 8px;

body {
  background-color: $grey;
}

.btn {
  padding: $spacer ($spacer * 3);
}

.link1 {
  color: red;

  &:hover {
    color: blue;
  }
}

.banner {
  background-color: yellowgreen;

  h1:hover {
    color: red;
  }
}
